.nav_bar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    border-bottom: 2px solid #e2e8f0;
    width: 100%;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.logout_btn{
    padding: 8px 25px;
    background-color: #4B5563;
    color: #ffffff;
    font-family: "Roboto";
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    text-transform: capitalize;
}